.root {
  background-color: #FAFAFF;
  @media only screen and (max-width: 767px) {
    background-color: #fff;
  }
}
.body {
  background-color: #FFF;
  height: auto;
  max-width: 470px;
  margin: 70px auto 180px;
  display: grid;
  padding: 48px;
  @media only screen and (max-width: 767px) {
    margin: 40px auto 40px;
    padding: 24px;
  }
}
.textLogin {
  color: #1F61A9;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.subTextLogin {
  color: rgba(28, 28, 28, 0.65);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}
.linkText {
  font-size: 12px;
  color: #1F61A9;
  font-style: italic;
  text-align: center;
  padding-top: 25px;
}
.labelCheckbox {
  font-size: 12px !important;
  color: rgba(28, 28, 28, 0.65);
  font-weight: 300; 
}
