.paper {
  padding : 24px;
  width: 550px;
  max-width: 550px;
}
.root > div:nth-child(2){
  margin: 24px auto 35px auto;
  width: 60% !important;
  display: block;
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  color: #08182A;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    margin-left: 10px;
  }
}