.boldText {
  font-weight: 500;
}
.smallText {
  font-size: 12px;
}
.accordion {
  margin-top: 16px !important;
  box-shadow: unset;
  &::before {
    display: none;
  }
  .accordionSummary {
    padding: 0;
    margin: 0;
    min-height: unset;
  }
  .accordionDetails {
    padding: 0;
  }
  [class~="MuiAccordionSummary-content"] {
    margin: 0;
  }
}
