.root {
  text-transform: none;
  font-size: 14px;
  font-weight: 500;
  &[class~=Mui-disabled] {
    opacity: 0.5;
  }
}
.btnPrimary {
  background: var(--cimigo-blue);
  border: 1px solid transparent;
  color: var(--ghost-white);
  padding:8px 16px;
  &:hover {
    background: var(--cimigo-blue-light-1);
  }
  &:active {
    background: var(--cimigo-blue-dark-1);
  }
  &:disabled {
    background: var(--eerie-black-5);
    color: var(--eerie-black-40);
  }
}
.btnSecondary {
  background: var(--cimigo-blue-light-4);
  border: 1px solid transparent;
  color: var(--cimigo-blue);
  padding:8px 16px;
  &:hover {
    color: var(--cimigo-blue-light-1);
    background: var(--cimigo-blue-light-4);
  }
  &:active {
    color: var(--cimigo-blue-dark-1);
    background: var(--cimigo-blue-light-4);
  }
  &:disabled {
    background: var(--eerie-black-5);
    color: var(--eerie-black-40);
  }
}
.btnOutlined {
  background: var(--cimigo-blue-light-4);
  border: 1px solid var(--cimigo-blue-light-2);
  color: var(--cimigo-blue);
  padding:8px 16px;
  &:hover {
    color: var(--cimigo-blue-light-1);
    background: var(--cimigo-blue-light-4);
    border: 1px solid var(--cimigo-blue-light-2);
  }
  &:active {
    color: var(--cimigo-blue-dark-1);
    border: 1px solid var(--cimigo-blue-dark-1);
    background: var(--cimigo-blue-light-4);
  }
  &:disabled {
    background: var(--eerie-black-5);
    color: var(--eerie-black-40);
    border: 1px solid var(--eerie-black-20);
  }
}

.btnText {
  background: transparent;
  border: 1px solid transparent;
  color: var(--cimigo-blue);
  padding:8px 16px;
  &:hover {
    color: var(--cimigo-blue-light-1);
    background: transparent;
  }
  &:active {
    color: var(--cimigo-blue-dark-1);
    background: transparent;
  }
  &:disabled {
    color: var(--eerie-black-40);
    background: transparent;
  }
}

.btnRaised {
  background: var(--cimigo-blue);
  border: 1px solid transparent;
  color: var(--ghost-white);
  padding:8px 16px;
  box-shadow: 0px 8px 16px rgba(31, 97, 169, 0.12);
  &:hover {
    background: var(--cimigo-blue-light-1);
    box-shadow: 0px 12px 20px rgba(59, 135, 219, 0.24);
  }
  &:active {
    background: var(--cimigo-blue-dark-1);
    box-shadow: 0px 4px 12px rgba(31, 97, 169, 0.2);
  }
  &:disabled {
    background: var(--eerie-black-5);
    color: var(--eerie-black-40);
  }
}