.root {
  text-transform: none;
  border-radius: 4px;
  padding: 8px 16px;
}
.btnPrimary {
  background: var(--cimigo-blue);
  border: 1px solid transparent;
  color: var(--gray-10);
  &[class~='MuiButton-root']:hover {
    background: var(--cimigo-blue-light-1);
  }
  &[class~='MuiButton-root']:active {
    background: var(--cimigo-blue-dark-1);
  }
  &[class~='MuiButton-root']:disabled {
    background: var(--eerie-black-5);
    p {
      color: var(--eerie-black-40);
    }  
  }
}
.btnSecondary {
  background: var(--cimigo-blue-light-4);
  border: 1px solid transparent;
  p {
    color: var(--cimigo-blue);
  }
  &[class~='MuiButton-root']:hover {
    background: var(--cimigo-blue-light-4);
    p {
      color: var(--cimigo-blue-light-1);
    }
  }
  &[class~='MuiButton-root']:active {
    background: var(--cimigo-blue-light-4);
    p {
      color: var(--cimigo-blue-dark-1);
    }
  }
  &[class~='MuiButton-root']:disabled {
    background: var(--eerie-black-5);
    p {
      color: var(--eerie-black-40);
    } 
  }
}
.btnOutlined {
  background: var(--cimigo-blue-light-4);
  border: 1px solid var(--cimigo-blue-light-2);
  p {
    color: var(--cimigo-blue);
  }
  &[class~='MuiButton-root']:hover {
    background: var(--cimigo-blue-light-4);
    p { 
      color: var(--cimigo-blue-light-1);
    }
  }
  &[class~='MuiButton-root']:active {
    color: var(--cimigo-blue-dark-1);
    background: var(--cimigo-blue-light-4);
    p { 
      color: var(--cimigo-blue-dark-1);
    }
  }
  &[class~='MuiButton-root']:disabled {
    background: var(--eerie-black-5);
    border: 1px solid var(--eerie-black-20);
    p {
      color: var(--eerie-black-40);
    } 
  }
}

.btnText {
  background: transparent;
  border: 1px solid transparent;
  p {
    color: var(--cimigo-blue);
  }
  &[class~='MuiButton-root']:hover {
    background: transparent;
    p {
      color: var(--cimigo-blue-light-1);
    }
  }
  &[class~='MuiButton-root']:active {
    background: transparent;
    p {
      color: var(--cimigo-blue-dark-1);
    }
  }
  &[class~='MuiButton-root']:disabled {
    background: transparent;
    p {
      color: var(--eerie-black-40);
    }
  }
}

.btnRaised {
  background: var(--cimigo-blue);
  border: 1px solid transparent;
  box-shadow: 0px 8px 16px rgba(31, 97, 169, 0.12);
  color: var(--gray-10);
  &[class~='MuiButton-root']:hover {
    background: var(--cimigo-blue-light-1);
    box-shadow: 0px 12px 20px rgba(59, 135, 219, 0.24);
  }
  &[class~='MuiButton-root']:active {
    background: var(--cimigo-blue-dark-1);
    box-shadow: 0px 4px 12px rgba(31, 97, 169, 0.2);
  }
  &[class~='MuiButton-root']:disabled {
    background: var(--eerie-black-5);
    p {
      color: var(--eerie-black-40);
    }
  }
}