.root {
    max-width: 1048px;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 96px;
    min-height: 1000px;
    @media only screen and (max-width: 767px) {
        padding-bottom: 85px;
    }
    @media only screen and (max-width: 1042px) {
        margin: 0px;
    }
}
.alert{
    margin-top: 32px;
    display: flex;
    border: 1px solid var(--white);
    padding: 16px;
    border-left: 4px solid var(--cimigo-green-dark);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 1%), 0 6px 10px 0 rgb(0 0 0 / 10%);
    .content{
        padding-left: 18px;
    }
    .iconAlert, .btnClose{
        display: flex;
        align-items: center;
        color: var(--cimigo-green-dark);
    }
    .btnClose{
        button{
            color: var(--gray-40);
        }
        
    }
}
.contentAlert{
    span {
        font-weight: 600;
    }
}
.yourNextPaymentHeader{
    display: flex;
    justify-content: space-between;
}
.iconDolar{
    position: relative;
    top: 5px;
    padding-right: 10px;
}
.pagination{
    display: flex;
    justify-content: right;
}
.customItemSilde{
    margin: 0px 16px;
    display: block !important;
    width: auto !important;
}
.cancelSub:hover{
    cursor: pointer;
}
.customSlide{
    width: 100%;
    border-radius: 8px;
}
.slideDefault{
    border: 1px solid var(--cimigo-blue);
}
.slideProcessing{
    border: 1px solid var(--gray-40);
    .contentRightSwiper{
        .statusPayment{
            border: 1px solid var(--orange-light);
            border-radius: 4px;
            background: var(--orange-light);
            display: flex;
            color: var(--warning-dark);
            padding: 6px 8px 10px 12px;
        }   
        .urlViewDetail{
            text-align: right;
            @media only screen and (max-width: 980px) {
                text-align: left;
            }
        }
    }
}
.slideDisabled {
    border: 1px solid var(--gray-20);
    background: var(--gray-2);
    .contentSlide{
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 980px) {
            display: block;
            .contentRightSwiper{
                padding-top: 8px;
            }
        }
        @media only screen and (max-width: 768px) {
            display: flex;
        }
        @media only screen and (max-width: 500px) {
            display: block;
        }
    }
    .iconDolar{
        color: var(--gray-20);
    }
}
.slideCompleted{
    border: 1px solid var(--cimigo-green-dark);
    .contentRightSwiper{
        .icon{
            text-align: center;
            color: var(--cimigo-green);
        }
        .urlViewDetail{
            text-align: center;
        }
    }
}
.contentSlideSwiper{
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    .contentRightSwiper{
        width: 35%;
        display: flex;
        align-items: center;
    }
    .contentLeftSwiper{
        width: 65%;
    }
}
.slidePaymentSwiper{
    display: flex;
    margin: 0px -33px;
    @media only screen and (max-width: 785px) {
        margin: 0px 0px;
    }
    [class~=swiper] {
        height: 100%;
    }
    [class~=swiper-slide]{
        height: auto !important;
    }
    [class~=swiper]{
        padding-top: 0px;
    }
    [class~=mySwiper]:hover{
        cursor: pointer;
    }

    [class~=swiper] {
        width: 100%;
        height: 100%;
    }
      
    [class~=swiper-slide] {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    [class~=swiper-slide] img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    [class~=swiper-slide]{
        text-align: unset !important;
    }
}
.iconSlide{
    position: relative;
    top: 50px;
    width: 32px;
    border: 1px solid var(--gray-10);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--gray-10);
    color: var(--eerie-black);
    &:hover{
        cursor: pointer;
    }
    svg{
        width: 17px;
    }
}
.iconSlideLeft{
    right: 24px;
    @media only screen and (max-width: 785px) {
        display: none;
    }
}
.iconSlideRight{
    left: 24px;
    @media only screen and (max-width: 785px) {
        display: none;
    }
}
.subPaymentCompleted{
    text-align: center;
}
.swiperContentt{
    height: 100% !important;
}