.paper {
  width: 800px;
  max-width: 800px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    overflow: hidden;
  }
}

.body {
  min-height: 300px;
  border: none !important;
}

.rootList {
  padding-top: 24px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.listFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listFlexChecked {
  .listTextLeft > p,
  .listTextRight > p {
    color: var(--cimigo-green);
  }
  .listNumber div {
    border-color: var(--cimigo-green);
    span {
      color: var(--cimigo-green);
    }
  }
}
.listTextLeft > p {
  margin: 0;
  text-align: end;
}
.listTextRight > p {
  margin: 0;
  text-align: start;
}
.listNumber {
  margin: auto 35px;
  max-width: 240px;
  div {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #dddddd;
    span {
      width: 24px;
      height: 24px;
      max-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 12px;
      color: rgba(28, 28, 28, 0.65);
    }
    span:not(:last-child) {
      border-right: 1px solid #dddddd;
    }
  }
}
.rootListItem {
  cursor: pointer;
  &:nth-child(even) {
    background: #eef0f2;
  }
}
.disabled {
  cursor: not-allowed;
}
.rootListItem > div {
  &:first-child {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.rootCheckbox {
  img {
    border-radius: 4px;
  }
}
.btn {
  @media only screen and (max-width: 767px) {
      width: 100%;
  }
}
.listNumberMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    margin: 24px auto 0px auto;
    max-width: 350px;
  }
}
.textMobile {
  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    p {
      color: #000000;
      margin-bottom: 12px;
    }
  }
}
.numberMobile {
  @media only screen and (max-width: 767px) {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #dddddd;
    max-width: 240px;
    margin: auto;
    span {
      width: 24px;
      height: 24px;
      max-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 12px;
      color: rgba(28, 28, 28, 0.65);
    }
    span:not(:last-child) {
      border-right: 1px solid #dddddd;
    }
  }
}
.rootListMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    border: 0.5px solid #dddddd;
    border-radius: 4px;
    margin-top: 24px;
  }
}
.attributesMobile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 10px;
  &:not(:last-child) {
    border-bottom: 0.5px solid #dddddd;
  }
}
.titleAttributesMobile {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rootCollapseMobile {
  display: flex;
  width: 100%;
  align-items: center;
}
