.root {
  padding-bottom: 15px;
}
.textTitle {
  color: rgba(28, 28, 28, 0.65);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
  padding-left: 15px;
  margin: 0;
}
.iconEye {
  svg {
    width: 17px;
    height: 16px;
  }
}
.rootInput {
  border: 1px solid rgba(28, 28, 28, 0.2);
  padding: 10px 15px;
  width: auto;
  border-radius: 4px;
}
.inputTextfield {
  ::placeholder {
    color: rgba(28, 28, 28, 0.2) !important;
    font-size: 16px;
  }
  font-size: 16px;
}
.optional {
  color: #7c9911;
}
.textInfor {
  font-weight: 400;
  font-size: 12px;
  color: rgba(28, 28, 28, 0.65);
  margin: 0;
  margin-top: 5px;
  padding-left: 15px;
}

.textError {
  color: red;
  font-size: 14;
  padding: '5px 0px';
  white-space: 'initial'
}