.root {
    display: flex;
    justify-content: center;
    padding-top: 57px;
    padding-bottom: 188px;
}
.main {
    max-width: 1002px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 571px;
    margin-bottom: 20px;
}
.tableHeader {
    [class ~= MuiTableCell-root] {
        background: var(--eerie-black-5) !important;
    }
    .tableLabel {
    [class ~= MuiTypography-root] {
            color: var(--gray-90) !important;
        }
    }
}

.nameProject {
    word-break: break-word;
    color: var(--cimigo-blue) !important;
}

.cellText {
    word-break: break-word;
    color: var(--eerie-black) !important;
}