.titleSelectPlan {
  text-align: center;
   p {
    margin-bottom: 16px;
  }
  .title{
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 48px !important;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 0px;
  }
}

//==================================card============================//
.body {
  padding-bottom: 300px !important;
  margin: 0 !important;
  @media only screen and (max-width: 897px) {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 43px
  }
  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.card {
  min-width: 362px;
}

.layoutCard {
  height: 100%;
   @media only screen and (max-width: 768px) {
    padding-top: 0px !important;
  }
}
.itemCenter {
  justify-content: center;
  padding: 0;
  padding-bottom: 24px;
  button{
    width: 100%;
    min-height: 48px;
    min-width: 184px;
  }
}
.btnSave {
  padding: 8px 32px !important;
}
.cardPlan {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid var(--gray-20);
  @media only screen and (max-width: 367px) {
      width: auto;
  }
  .tax {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      padding-bottom: 24px;
  }
  .line{
      content: " ";
      border-bottom: 1px solid;
      color: var(--gray-20);
  }
  .startAt{
      padding-top: 16px;
  }


}

.contentInPlan{
  > p {
      padding-top: 16px !important;
  }
}
.headerCart {
  background: #A6CC17;
  border: 1px solid var(--gray-20);
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
  min-width: 362px;
  .title{  
      text-align: center;
      padding: 8px;
      padding-left: 12px;
  }
}
.layoutCardPopular {
  height: 100%;
  padding-top: 0 !important;
  .cardPlan { 
      display: flex;
      flex-direction: column;
      flex: 1;
      border-radius: 0px 0px 8px 8px;
      border: 1px solid var(--gray-20);
      @media only screen and (max-width: 367px) {
          width: auto;
      }
      .line{
          content: " ";
          border-bottom: 1px solid;
          color: var(--gray-20);
      }
  } 
}
.contentInPlan{
  padding-top: 16px;
}
.contentPlan {
  display: flex;
  padding: 8px 0px;
}
.iconContentPlan{
  color: var(--cimigo-blue);
}
//==================================endcard============================//
.selectTypePrice {
  padding-top: 16px;
  text-align: right;
  @media only screen and (max-width: 767px) {
      text-align: right;
      padding-right: 0px;
      padding-bottom: 0px;
  }
  @media only screen and (max-width: 695px) {
      margin-right: 20px !important;
}
  @media only screen and (max-width: 386px) {
      margin-right: -20px !important;
  }
  @media only screen and (max-width: 341px) {
      margin-right: 0px !important;
  }
}
.customSelect {
  div{
    border: none;
  }
  div :hover{
    border: none;
  }
  
}
.cardCustom{
  padding: 24px 16px;
}
.cardPlan:first {
  margin-bottom: 24px;
}
.selectOption:hover {
  color: blue;
}
.sampleSize{
  font-weight: 600;
}
.expTime {
  position: relative;
  transform: translate(6px, -12px);
  white-space: nowrap;
}