.title_select_plan {
    text-align: center;
    padding-top: 16px;
    .description {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #1C1C1C;
    }
  }