.root {
  padding: 0px;
}
.rootStepper {
  padding: 30px 0px 50px 0px;
  width: 40%;
  margin: auto;
  min-width: 400px;
}
.rootStepLabel {
  font-weight: 400;
  font-size: 16px;
  color: rgba(28, 28, 28, 0.4);
}
.rootStepLabelCompleted {
  color: #53660c !important;
  font-weight: 600;
  font-size: 16px;
}
.rootStepLabelActive {
  color: #53660c !important;
  font-weight: 600;
  font-size: 16px;
}
.rootConnector {
  top: 16px !important;
  margin: 0px 7px !important;
}
.activeConnector {
  span {
    border-color: #7c9911;
  }
}

// ========================= Select solution =====================

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  p {
    font-weight: 600;
    font-size: 24px;
    color: #1f61a9;
    padding-right: 30px;
    margin: 0px;
  }
}
.body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -9px;
  padding: 50px 0px;
}
.card {
  background: #eef0f2;
  cursor: pointer;
  min-height: 300px;
  max-width: 23%;
  display: flex;
  padding: 30px 24px;
  justify-items: center;
  align-items: center;
  flex: 1 1 21%;
  margin: 12px;
  min-width: 225px;
  flex-direction: column;
  p {
    font-weight: 600;
    font-size: 16px;
    color: #1f61a9;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  span {
    text-align: center;
  }
}
.cardComing {
  background: #fafaff;
  min-height: 300px;
  max-width: 23%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 21%;
  margin: 12px;
  min-width: 225px;
  div {
    background: rgba(28, 28, 28, 0.05);
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(28, 28, 28, 0.65);
    margin-bottom: 27px;
  }
  p {
    font-weight: 600;
    font-size: 16px;
    color: rgba(28, 28, 28, 0.4);
    margin-top: 16px;
    margin-bottom: 16px;
  }
  span {
    text-align: center;
    color: rgba(28, 28, 28, 0.2);
    padding: 0px 24px;
  }
}

// ========================= Create project =====================

.form {
  width: 29%;
  margin: auto;
  margin-bottom: 100px;
  min-width: 360px;
}
.title {
  font-weight: 500;
  font-size: 40px;
  color: #1f61a9;
  text-align: center;
  margin: 0;
}
.textLink {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  color: #1f61a9;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 44px;
  font-style: italic;
  text-decoration-line: underline;
}
.textInfo {
  font-weight: 400;
  font-size: 16px;
  color: #1f61a9;
  margin: 20px 0px;
  span {
    font-weight: 500;
    font-size: 12px;
    color: #7c9911;
  }
  a {
    font-weight: 500;
    font-size: 12px;
    color: rgba(28, 28, 28, 0.65);
  }
}
.category {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.015em;
}
.categorySelected {
  background: #bed7f3;
  color: #103055;
  border: 1px solid #17497f;
}
.linkTextHome {
  display: none;
  @media only screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    margin: 20px 19px 0px 19px;
    img {
      margin-right: 15px;
    }
    span {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.015em;
      color: #1f61a9;
    }
  }
}
