.root {
  display: block;
  text-align: center;
  @media only screen and (max-width: 767px) {
    padding: 0px 15px;
  }
}

.root > img {
  margin: 15px auto 22px auto;
  display: block;
  @media only screen and (max-width: 767px) {
    max-height: 80px;
    max-width: 80px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  color: rgba(175, 28, 16, 1);
  margin-bottom: 13px;
  @media only screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 10px;
    margin-bottom: 24px;
  }
}

.subTitle {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.017em;
  line-height: 140%;
  margin-bottom: 32px;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
  }
}
.textGreen {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgba(124, 153, 17, 1);
  margin-bottom: 8px;
  @media only screen and (max-width: 767px) {
    font-size: 20px;
    font-weight: 500;
  }
}
.textBlue {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: rgba(23, 73, 127, 1);
  margin-bottom: 40px;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 16px;
  }
}
button {
  line-height: 16px !important;
}
.aLink {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(31, 97, 169, 1);
  text-underline-position: under;
  text-decoration: underline !important;
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 400;
    &:last-child {
      margin-bottom: 16px;
    }
  }
}
