.root {
  max-width: 800px;
  margin: auto;
  display: block;
  a {
    margin-top: 55px;
    margin-bottom: 25px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #1f61a9;
    display: block;
  }
}
.root > img {
  margin: 15px auto 22px auto;
  display: block;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1f61a9;
  margin-bottom: 32px;
}
.subTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.015em;
  color: #1c1c1c;
}
.textBlack {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;
  span {
    color: #1f61a9;
  }
}
.textGreen {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #7c9911;
}
.textBlue {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #17497f;
  margin-bottom: 25px;
  margin-top: 8px;
}
.box {
  background: rgba(28, 28, 28, 0.05);
  border: 0.5px solid rgba(28, 28, 28, 0.4);
  border-radius: 5px;
  padding: 19px 44px;
  margin: 16px auto;
  max-width: 600px;
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: #293306;
  }
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.015em;
    color: #1c1c1c;
  }
}
.flex {
  display: flex;
  margin-top: 16px;
  div:not(:last-child) {
    padding-right: 25px;
    border-right: 0.5px solid rgba(28, 28, 28, 0.4);
  }
  div:not(:first-child) {
    padding-left: 25px;
  }
}
.btn {
  margin: 16px auto 48px auto;
  display: block;
}