.paper{
    width: 790px;
    max-width: 790px;
    height: 450px;
   
}
.content {
    background-color: var(--cimigo-blue);
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 12px 24px;
    color: rgba(250, 250, 255, 1);
    font-size: 22px;
    line-height: 31px;

    .iconClose::after {
        width: 32px;
        height: 32px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "\00d7";
        font-size: 30px;
        border-radius: 100%;
        color: rgba(23, 73, 127, 1);
    }

    button {
        padding: 0px;
    }
}
.title{
    margin-bottom: 4px;
}

.classform {
    background-color: white;
    min-height: 100px;
    padding: 32px 22px 26px 22px;
    position: relative;

    p:nth-child(1) {
        padding-left: 20px;
    }

    @media only screen and (max-width: 600px) {
        .btnSave {
            width: 92%;
        }

        .iconDotsDragMUI {
            display: block;
        }

        .choiceAnswer {
            display: none;
        }
    }
}

.addList {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding-left: 44px;
    margin-top: 25px;
    margin-bottom: 32px;
}

.rowRadio:first {
    margin-top: 30px;
}

.rowInputAnswer {
    display: flex;
    align-items: center;
    margin-top: 27px;
    padding-left: 35px;
    position: relative;
}

.closeInputAnswer {
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: none;
}
.inputanswer {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}

.choiceAnswer {
    height: 20px;
    width: 20px;
    margin-right: 16px;
}

.iconDotsDrag {
    width: 10px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: 10px;
}

.iconDotsDragMUI {
    display: none;
    width: 10px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: 10px;
}

.addOptions {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(28, 28, 28, 0.65);
}

.IconListAdd {
    width: 20px;
    height: 15px;
    margin-right: 19px;
    margin-left: -9px;
}

.inputSwitch {
    width: 0;
    height: 0;
    visibility: hidden;
}

.toggleSwitch {
    display: block;
    width: 36px;
    height: 14px;
    background-color: rgba(28, 28, 28, 0.4);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 50px #477a85;
}

.toggleSwitch::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 70px;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

input:checked+.toggleSwitch:after {
    left: calc(100% - 20px);
    transform: translateY(-50%);
    background-color: rgba(124, 153, 17, 1);
}

input:checked+.toggleSwitch {
    background-color: rgba(166, 204, 23, 1);
}

input:checked {
    .excluOptions {
        color: rgb(17, 255, 0);
        font-weight: 500;
    }
}

.excluOptions {
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
}

.dialogSigle {
    padding-bottom: 90px;
}

.dnd {
    width: 100%;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
}
.inputQuestion {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: none;
    position: relative;
    width: 100%;
    min-height: 42px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    align-items: center;

    .iconVI {
        color: rgba(28, 28, 28, 0.65);
        background-color: rgba(221, 221, 221, 1);
        font-weight: 500;
        font-size: 12px;
        //    padding: 3px 6px 3px 6px;
        border-radius: 5px;
        width: 29px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 14.6px;
    }

    input {
        padding: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .titlePopup {
        font-size: 14px;
    }

    .inputQuestion {
        font-size: 14px;
    }

    .inputanswer {
        font-size: 14px;
    }

    .clickAddOption {
        font-size: 14px;
        padding-left: 0px;
    }

    .addOptions {
        font-size: 14px;
        margin-left: -27px;
    }

    .IconListAdd {
        margin-left: -11px;
        margin-right: 13px;
    }
    .btnSave {
        width: 92%;
    }

}
@media only screen and (max-width: 600px) {
    

    .iconDotsDragMUI {
        display: block;
    }

    .choiceAnswer {
        display: none;
    }
}
.btnSave {
    background-color: var(--cimigo-blue);
    float: right;
    padding: 16px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: none;
    margin-top: 0px;
    right: 4%;
}
.btnSave:hover {
    background-color: var(--cimigo-blue);
}
.inputanswer:focus-visible {
    outline: none;
}
