.subtitle {
  font-weight: 600;
  display: inline-block;
}
.valueBox {
  background-color: #a6cc17;
  padding: 2px 10px;
  letter-spacing: 0.015em;
  color: #293306;
}
.red {
  color: #af1c10;
  border: 1px solid #af1c10;
  padding: 4px 12px;
  border-radius: 50px;
}
.gray {
  border: 1px solid rgba(28, 28, 28, 0.2);
  color: #1c1c1c;
  padding: 4px 12px;
  border-radius: 50px;
}
.yellow {
  color: #af814d;
  border: 1px solid #af814d;
  padding: 4px 12px;
  border-radius: 50px;
}
.green {
  color: #7c9911;
  border: 1px solid #7c9911;
  padding: 4px 12px;
  border-radius: 50px;
}
