.paper {
    width: 790px;
    max-width: 790px;
    height: 290px;
 
}

.content {
    background-color: var(--cimigo-blue);
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 12px 24px;
    color: rgba(250, 250, 255, 1);
    font-size: 22px;
    line-height: 31px;

    .iconClose::after {
        width: 32px;
        height: 32px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        content: "\00d7";
        font-size: 30px;
        border-radius: 100%;
        color: rgba(23, 73, 127, 1);
    }

    button {
        padding: 0px;
    }
}

.formControl {
    width: 100%;

    .error {
        color: red;
        margin-top: 10px;
        font-weight: 500;
    }
}

.inputQuestion {
    border-bottom: none;
    position: relative;
    width: 100%;
    min-height: 42px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    align-items: center;

    .iconLanguage {
        color: rgba(28, 28, 28, 0.65);
        background-color: rgba(221, 221, 221, 1);
        font-weight: 500;
        font-size: 12px;
        border-radius: 5px;
        width: 29px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 14.6px;
        text-transform: uppercase;
    }

    > input {
        padding: 13px 5px 13px 3px;
    }
}

.classform {
    background-color: white;
    min-height: 100px;
    padding: 32px 28px 26px 28px;
    position: relative;

    p:nth-child(1) {
        padding-left: 20px;
    }

    .title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .btnSave {
        background-color: var(--cimigo-blue);
        float: right;
        padding: 16px;
        color: white;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        text-transform: none;
        margin-top: 32px;
    }

    .btnSave:disabled {
        color: rgba(0, 0, 0, 0.26);
    }
}

@media only screen and (max-width: 500px) {
    .titlePopup {
        font-size: 14px;
    }

    .inputQuestion {
        font-size: 14px;
    }

    .inputanswer {
        font-size: 14px;
    }

    .clickAddOption {
        font-size: 14px;
    }

    .btnSave {
        width: 100%;
    }
}