.paper {
  padding : 24px;
  width: 550px;
  max-width: 550px;
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  color: #08182A;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    margin-left: 10px;
  }
}
.body {
  margin-top: 24px;
  margin-bottom: 34px;
  display: block;
  font-weight: normal;
  color: rgba(28, 28, 28, 0.65);
  > * {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.warning {
  color: var(--cimigo-danger);
}