.packBox {
  display: flex;
  flex-wrap: wrap;
  .packItem {
    margin-left: 15px;
    margin-top: 15px;
    max-width: 350px;
    img {
      cursor: pointer;
      width: 350px;
      height: 300px;
      object-fit: contain;
    }
    .infor {
      padding: 10px;
      .inforItem {
        margin-top: 10px;
      }
    }
  }
}
.table {
  thead {
    td, th {
      color: #fff;
    }
    background: var(--cimigo-blue);
  }
}

.danger {
  color: var(--cimigo-danger) !important;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1f61a9;
  margin-bottom: 32px;
}
.textGreen {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #7c9911;
}
.textBlue {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #17497f;
  margin-bottom: 25px;
  margin-top: 8px;
}