.icGoogle {
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 50px;
  text-transform: none;
  width: max-content;
  font-size: 14px;
  color: #1C1C1C;
  padding: 3px 13px;
  margin: 0px auto 25px;
}