.root {
  background: transparent;
  text-align: center;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 40px;
  min-width: 40px;
}
.red {
  color: #AF1C10;
  border: 1px solid #AF1C10;
}
.gray{
  color: #000000;
  border: 1px solid rgba(28, 28, 28, 0.2);
 
}
.yellow {
  color: #AF814D;
  border: 1px solid #AF814D;
 
}
.green {
  color: #7C9911;
  border: 1px solid #7C9911;
  
}