.root {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    padding: 22px 19px;
  }
}
.warningBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
  @media only screen and (max-width: 767px) {
    padding: 22px 19px 0 19px;
  }
}
.left {
  width: 75%;
  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}
.right {
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
.title {
  font-weight: 600;
  font-size: 24px;
  color: #1f61a9;
  margin: 0;
  margin-bottom: 30px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.line {
  height: 1px;
  width: 100%;
  margin-top: 30px;
  background: transparent;
  // margin: 30px 24px;
  // border-top: 1px dashed rgba(28, 28, 28, 0.65);
}
.flex {
  padding: 0px 24px;
  @media only screen and (max-width: 1024px) {
    padding: 0px;
  }
}
.flex > p {
  font-weight: 500;
  font-size: 14px;
  color: #1c1c1c;
  margin: 0;
  margin-top: 5px;
}
.flex > p > span {
  color: #1f61a9;
  border-bottom: 1px dashed #1f61a9;
  cursor: pointer;
  &:hover {
    color: #1f62a98f;
  }
}
.subTitle {
  font-weight: 600;
  font-size: 16px;
  color: #1c1c1c;
  margin: 0;
  @media only screen and (max-width: 767px) {
    color: #1f61a9;
  }
  span {
    color: #7c9911;
  }
}
.input {
  display: flex;
  max-width: 800px;
  @media only screen and (max-width: 767px) {
    display: grid;
    max-width: none;
    padding-top: 24px;
  }
}
.input > div {
  padding: 20px;
  @media only screen and (max-width: 767px) {
    padding: 0px;
  }
}
.btnSave {
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  @media only screen and (max-width: 767px) {
    max-width: none;
    justify-content: flex-start;
    padding-right: 0px;
  }
}
.packs {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -12px;
  padding-top: 20px;
  max-width: 900px;
  @media only screen and (max-width: 767px) {
    margin: auto;
    justify-content: center;
    display: grid;
    flex-wrap: unset;
  }
}
.itemPacks {
  flex: 0 1;
  max-width: 412px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 12px;
  margin: 12px;
  @media only screen and (max-width: 767px) {
    max-width: fit-content;
  }
}
.itemPacks:hover .itemInfor {
  display: table;
}
.itemPacks > div {
  position: relative;
}
.itemPacks > div > button {
  position: absolute;
  right: 16px;
  top: 16px;
  background: rgba(28, 28, 28, 0.4);
  &:hover {
    background: rgba(28, 28, 28, 0.4);
  }
}
.itemPacks > div > img {
  width: 410px;
  height: 310px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  @media only screen and (max-width: 767px) {
    width: 310px;
    height: 210px;
  }
}
.itemInfor {
  display: none;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    #ffffff 100%
  );
  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding: 20px 25px;
  max-height: 250px;
  @media only screen and (max-width: 767px) {
    max-height: 150px;
  }
  div {
    display: table-row;
    &:not(:last-child) {
      > * {
        padding-bottom: 15px;
      }
    }
    > p {
      white-space: nowrap;
      width: 100px;
      display: table-cell;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.015em;
      color: rgba(28, 28, 28, 0.65);
    }
    > span {
      padding-left: 10px;
      display: table-cell;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.015em;
      color: #1c1c1c;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 0;
    }
  }
}
.textPacks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  p {
    flex: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.015em;
    color: #1c1c1c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
  }
}
.addPack {
  background: #ffffff;
  flex: 0 1;
  padding: 16px;
  border: 1px dashed rgba(28, 28, 28, 0.65);
  border-radius: 12px;
  margin: 12px;
  max-width: 412px;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  min-height: 310px;
  min-width: 410px;
  cursor: pointer;
  @media only screen and (max-width: 767px) {
    display: flex;
    background: rgba(28, 28, 28, 0.05);
    min-height: auto;
    min-width: 310px;
    flex: 1 0;
    img {
      width: 20px;
      margin-right: 10px;
    }
  }
  p {
    font-weight: 600;
    font-size: 32px;
    color: rgba(28, 28, 28, 0.4);
    margin-top: 10px;
    min-width: 300px;
    text-align: center;
    @media only screen and (max-width: 767px) {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.04em;
      color: rgba(28, 28, 28, 0.65);
      min-width: auto;
      white-space: nowrap;
      margin-top: 0px;
    }
  }
}
.menuAction {
  width: 120px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.itemAciton {
  img {
    padding-right: 10px;
  }
  p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    color: rgba(28, 28, 28, 0.65);
  }
}
.table {
  width: 80%;
  margin: auto;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 35px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.tableHead {
  background: #1f61a9;
  th {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
  }
}
.tableBody {
  &:nth-child(even) {
    background: rgba(28, 28, 28, 0.05);
  }
  td {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
  }
}
.rootTextfield {
  width: 80%;
}
.inputTextfield {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #1c1c1c;
  &::placeholder {
    opacity: 1;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    color: rgba(28, 28, 28, 0.65);
  }
}
.btnAddBrandInCell {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  &[class~="Mui-disabled"] {
    opacity: 1;
    background: #fff;
    color: rgba(28, 28, 28, 0.65);
    border: 1px solid rgba(28, 28, 28, 0.4);
  }
}
.btnAddBrand {
  cursor: pointer;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 400;
    font-size: 14px;
    color: #1f61a9;
    img {
      padding-right: 10px;
    }
  }
}
.brandListMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: grid;
    padding: 24px 0px;
  }
}
.itemBrandMobile {
  background: #eef0f2;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 7px 18px;
  margin-bottom: 24px;
}
.itemBrandMobile > button {
  padding: 0px;
}
.textBrand {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #1c1c1c;
}
.textVariant {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #1c1c1c;
}
.itemBrandMobileAdd {
  cursor: pointer;
  background: rgba(28, 28, 28, 0.05);
  border: 1px dashed rgba(28, 28, 28, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(28, 28, 28, 0.65);
    padding-left: 7px;
  }
}
.rootList {
  padding: 40px 20px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.rootListMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    border: 0.5px solid #dddddd;
    border-radius: 4px;
    margin: 24px 0px;
  }
}
.attributesMobile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &:not(:last-child) {
    border-bottom: 0.5px solid #dddddd;
  }
}
.titleAttributesMobile {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.025em;
  color: #1c1c1c;
}
.CollapseAttributesMobile {
  padding-right: 23px;
  p {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.025em;
    color: #1c1c1c;
    margin-bottom: 10px;
    span {
      font-weight: 400;
      font-size: 14px;
      word-wrap: break-word;
    }
  }
}
.btnActionMobile {
  display: flex;
  justify-content: flex-end;
  button {
    text-transform: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
  }
  button:first-child {
    color: #1f61a9;
  }
  button:last-child {
    color: #af1c10;
  }
}
.listFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listTextLeft > p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #1c1c1c;
  text-align: end;
  max-width: 235.7px;
  @media only screen and (max-width: 768px) {
    max-width: 130.6px;
  }
}

.listTextRight > p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #1c1c1c;
  text-align: start;
}
.listNumber {
  margin: auto 35px;
  max-width: 240px;
  div {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #dddddd;
    span {
      width: 24px;
      height: 24px;
      max-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 12px;
      color: rgba(28, 28, 28, 0.65);
    }
    span:not(:last-child) {
      border-right: 1px solid #dddddd;
    }
  }
}
.rootListItem {
  > [class~="MuiListItemButton-root"] {
    display: block;
    padding-right: calc(70px + 16px);
    padding-left: 16px;
    min-height: 40px;
    &:hover {
      background: transparent;
    }
    > [class~="MuiGrid-root"] {
      word-wrap: break-word;
    }
   
  }
  &:hover {
    background: rgba(28, 28, 28, 0.05);
    .btnAction {
      visibility: visible !important;
    }
  }

}
.containerList {
  background:red;
}
.btnAction {
  width: 70px;
  visibility: hidden;
  
}

.iconAction {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  &:hover {
    background-color: #ffffff !important;
  }
}
.icSelect {
  right: 7px;
  color: var(--cimigo-blue);
  @media only screen and (max-width: 767px) {
    // position: unset;
  }
}
.selectType {
  font-weight: 500;
  font-size: 12px;
  color: var(--cimigo-blue);
}
.select {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  @media only screen and (max-width: 767px) {
    display: grid;
    align-items: start;
    padding: 0px;
  }
}
.select > p {
  font-weight: 500;
  font-size: 12px;
  color: #af1c10;
  margin-left: 15px;
  @media only screen and (max-width: 767px) {
    margin-left: 0px;
    margin-top: 9px;
  }
}
.rootSelect {
  min-width: 165px;
}
.rootSelect > div > div {
  padding: 5px 14px;
  @media only screen and (max-width: 767px) {
    padding: 9px 14px;
  }
}
.rootSelect {
  fieldset {
    border: 1px solid #1f61a9;
    @media only screen and (max-width: 767px) {
      border-color: rgba(28, 28, 28, 0.2);
      background: rgba(28, 28, 28, 0.05);
      border: 1px dashed rgba(28, 28, 28, 0.2);
    }
  }
  [class~="Mui-disabled"] {
    svg {
      color: rgba(28, 28, 28, 0.4);
    }
    fieldset {
      border: 1px solid rgba(28, 28, 28, 0.4) !important;
    }
  }
}
.selectTypeMenu {
  ul {
    padding: 4px 0;
    li {
      padding: 14px 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.015em;
      color: rgba(28, 28, 28, 0.9);
      &[class~="Mui-selected"],
      &:hover {
        background: #e8f1fb;
      }
    }
  }
}
.tip {
  display: flex;
  align-items: flex-start;
  padding: 20px 19px;
  @media only screen and (max-width: 767px) {
    padding: 9px 0px;
  }
  img {
    padding-right: 11px;
  }
  p {
    margin: 0;
    padding-left: 12px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(28, 28, 28, 0.65);
    border-left: 1px solid rgba(28, 28, 28, 0.4);
    span {
      font-weight: 700;
    }
  }
}
.summary {
  background: #eef0f2;
  border: 0.5px solid rgba(28, 28, 28, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  max-width: 300px;
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 100px - 10px);
}
.textSummary {
  background: #bed7f3;
  border-radius: 4px 4px 0px 0px;
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #1c1c1c;
  padding: 0px 16px;
  padding-top: 12px;
}
.rootSteper {
  padding: 16px;
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow-y: auto;
}
.rootConnector {
  margin-left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: rgba(28, 28, 28, 0.65);
  ul {
    padding-left: 25px;
    li {
      overflow-wrap: break-word;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.015em;
      color: rgba(28, 28, 28, 0.65);
    }
  }
}
.rootStepLabel {
  cursor: pointer;
  font-weight: 600 !important;
  font-size: 16px;
  color: rgba(28, 28, 28, 0.4) !important;
}
.rootStepLabelCompleted {
  color: #53660c !important;
  font-weight: 600 !important;
  font-size: 16px;
}
.rootStepLabelActive {
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  letter-spacing: 0.015em;
  color: #1f61a9 !important;
}

.moreStepContent {
  cursor: pointer;
  font-size: 12px;
  font-style: italic;
  color: #1f61a9;
  text-decoration-line: underline;
}

.customQuestionTitle {
  font-weight: 600;
  font-size: 16px;
  color: #1c1c1c;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  @media only screen and (max-width: 767px) {
    color: #1f61a9;
  }
  span:first-child {
    color: #7c9911;
  }
}
.customQuestionTitleDisabled {
  color: #1c1c1c66 !important;
  span:first-child {
    color: #1c1c1c66 !important;
  }
}
.customQuestionPrice {
  font-weight: 400;
  font-size: 12px;
  padding: 4px 16px;
  margin-left: auto;
  margin-right: 10px;
  color: #fafaff;
  background-color: #7c9911;
  border-radius: 30px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.customQuestionPriceMobile {
  font-weight: 400;
  font-size: 12px;
  padding: 4px 16px;
  margin: 0 auto 10px 18px;
  color: #fafaff;
  background-color: #7c9911;
  border-radius: 30px;
  display: none;
  @media only screen and (max-width: 767px) {
    display: inline-block;
  }
}
.customQuestionPriceDisabled {
  color: #1c1c1c66 !important;
  background-color: #1c1c1c33 !important;
}
.customQuestionSubTitleDisabled {
  color: #1c1c1c66 !important;
}
.questionType {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  > div {
    display: flex;
    gap: 15px;
  }
  > div > img {
    height:20px;
  }
  > div > p {
    color: #1c1c1ce5;
    font-weight: 500;
    font-size: 12px;
  }
  > span {
    font-weight: 400;
    font-size: 12px;
    color: #1c1c1ca6;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    img,
    span {
      display: none;
    }
  }
}
.displayNone {
  display: none;
}

.summaryCustomQuestion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.summaryCustomQuestionPrice {
  width: fit-content;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 16px;
  color: #fafaff;
  background-color: #7c9911;
  border-radius: 30px;
}
.summaryCustomQuestionPriceDisabled {
  color: #1c1c1c66 !important;
  background-color: #1c1c1c33 !important;
}
