.root{
    padding: 36px 54px 0px 54px;
    @media only screen and (max-width: 767px) { 
        padding: 32px 24px 0px 24px;
     }
}
.title{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 4px;
    color: rgba(28, 28, 28, 1);
    @media only screen and (max-width: 767px) { 
            font-weight: 600;
            margin-bottom: 10px;
    }
}
.subTitle{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px;
    color: rgba(28, 28, 28, 0.65);
    @media only screen and (max-width: 767px) { 
        color:rgba(0, 0, 0, 1);
    }
}
.divider{
    @media only screen and (max-width: 767px) { 
        display: none;
    }
}
.form{
    padding: 32px 168px 190px 168px;
    @media only screen and (max-width: 767px) { 
       padding: 10px 0px 29px 0px;
    }
    .btnSubmit{
        margin-top: 8px;
        width: 100%;
        @media only screen and (max-width: 767px) { 
            margin-top: 16px;
        }
    }
}