.root {
  max-width: 1000px;
  margin: auto;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #1c1c1c;
  @media only screen and (max-width: 767px) {
    padding: 0px 19px;
  }
  span {
    font-weight: 700;
  }
}
.body {
  background: #fafaff;
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 4px;
  padding: 32px 40px;
  margin-top: 36px;
  @media only screen and (max-width: 767px) {
    background: #ffffff;
    border: none;
    border-radius: 0px;
    padding: 0px 19px;
  }
}
.solution {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 29px;
  @media only screen and (max-width: 767px) {
    margin-right: 0px;
    padding-bottom: 18px;
    border-bottom: 1px solid #dddddd;
  }
  > * {
    &:first-child {
      flex: 2;
      margin-right: 10px;
    }
    &:last-child {
      flex: 3;
    }
  }
}
.flexCenter {
  display: flex;
  align-items: center;
}
.rootbtn {
  background: #eef0f2;
  border-radius: 50px;
  text-transform: none;
  padding: 6px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #103055;
  margin-left: 16px;
  @media only screen and (max-width: 767px) {
    margin-left: 0px;
  }
  img {
    width: 5px;
    margin-right: 5px !important;
  }
}
.flex1 {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    display: grid;
    justify-content: unset;
  }
  > * {
    flex: 1;
  }
}
.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #000000;
  @media only screen and (max-width: 767px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.025em;
  }
}
.textSub {
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: rgba(28, 28, 28, 0.65);
  margin-top: 16px;
  margin-bottom: 27px;
  @media only screen and (max-width: 767px) {
    padding: 0px 19px;
  }
  a {
    font-weight: 500;
    cursor: pointer;
    color: #1f61a9;
  }
}
.textSub1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: rgba(28, 28, 28, 0.65);
  margin-top: 10px;
  margin-bottom: 25px;
  @media only screen and (max-width: 767px) {
    padding: 0px 19px;
  }
}
.textBlue {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #1f61a9;
  img {
    width: 24px;
    margin-right: 10px;
  }
}
.textBlue1 {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #1f61a9;
  @media only screen and (max-width: 767px) {
    padding: 0px 19px;
  }
}
.textGreen {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #7c9911;
  @media only screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.textBlack {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #1c1c1c;
  @media only screen and (max-width: 767px) {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
  }
}
.expected {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 767px) {
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
  }
  > * {
    &:first-child {
      flex: 2;
      margin-right: 10px;
    }
    &:last-child {
      flex: 3;
    }
  }
}
.target {
  @media only screen and (max-width: 767px) {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
  }
}
.flex2 {
  border-left: 1px dashed rgba(28, 28, 28, 0.2);
  padding-left: 16px;
  margin-left: 10px;
  margin-top: 10px;

  div {
    display: flex;
    &:not(:first-child) {
      margin-top: 16px;
    }
    > * {
      &:first-child {
        flex: 2;
        margin-right: 10px;
      }
      &:last-child {
        flex: 3;
      }
    }
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.015em;
      color: #1f61a9;
    }
  }
}
.right > div {
  border-left: 1px dashed rgba(28, 28, 28, 0.2);
  padding-left: 16px;
  margin-left: 10px;
}
.divider {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    margin-bottom: 20px;
  }
}
.infor {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #000000;
  div {
    display: flex;
    a {
      padding-right: 2px;
    }
    @media only screen and (max-width: 767px) {
      display: grid;
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: rgba(28, 28, 28, 0.65);
        a {
          display: none;
        }
      }
      span {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
.box {
  display: flex;
  justify-content: center;
  div {
    margin: 0px 20px;
    display: grid;
    justify-items: center;
    cursor: pointer;
    span {
      width: 66px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #EEF0F2;
    }
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.015em;
      color: #1f61a9;
      margin-top: 5px;
    }
  }
}
.imgAddPhoto {
  width: 40px;
  height: 40px;
}
.btn {
  margin-top: 24px;
  button {
    display: flex;
    margin: auto;
  }
  p {
    text-align: center;
  }
}
.colorDanger {
  color: var(--cimigo-danger) !important;
}

.smallText {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.015em;
}
.tableDetail {
  display: table;
  width: 100%;
  > * {
    display: table-row !important;
    > * {
      &:not(:first-child) {
        padding-left: 25px;
      }
      display: table-cell !important;
    }
    &:not(:last-child) {
      > * {
        padding-bottom: 24px;
      }
    }
  }
}
.missing {
  font-weight: 600;
}
.titleDanger {
  span {
    color: var(--cimigo-danger) !important;
  }
}