.root {
  background: #eef0f2;
}
.rootMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    margin: 20px 19px;
    img {
      margin-right: 15px;
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.015em;
      color: #1f61a9;
    }
  }
}

.tabContent {
  background-color: #ffffff;
  padding: 30px 48px;
  border-radius: 4px;
  @media only screen and (max-width: 1024px) {
    padding: 22px 19px;
  }
  @media only screen and (max-width: 767px) {
    padding: 0px;
    position: relative;
  }
}
// ================= Tabs =================

.rootTabs {
  background: #1f61a9;
  padding: 0px 96px;
  padding-top: 60px;
  @media only screen and (max-width: 1024px) {
    background: #ffffff;
    padding: 0px 10px;
  }
}
.rootTab {
  background: #bed7f3;
  height: 48px;
  margin: 0px 2px;
  border-radius: 4px 4px 0px 0px;
  text-transform: none;
  font-weight: 500;
  font-size: 20px;
  color: #1c1c1c;
  padding: 16px 32px;
  @media only screen and (max-width: 1024px) {
    background: #ffffff;
    padding: 18px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.025em;
    color: rgba(28, 28, 28, 0.65);
  }
}
.indicatorTabs {
  display: none;
  @media only screen and (max-width: 1024px) {
    display: block;
    background-color: #53660c;
    height: 3px;
    border-radius: 10px 10px 0px 0px;
  }
}
.selectedTab {
  background: #eef0f2;
  height: 56px;
  color: #103055 !important;
  @media only screen and (max-width: 1024px) {
    background: #ffffff;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.025em;
    color: #53660c !important;
    padding: 18px 8px;
    height: 48px;
  }
}
.flexContainer {
  align-items: flex-end;
}

.bodyTab {
  padding: 8px 64px;
  @media only screen and (max-width: 1024px) {
    padding: 0px;
  }
}
.scrollButtonsMobile {
  background: linear-gradient(270deg, #ffffff 66.68%, rgba(255, 255, 255, 0) 129.69%);
}
.projectName {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}
.editBox {
  flex: 1;
  display: flex;
  align-items: center;
  [class~="MuiFormControl-root"] {
    max-width: 300px;
    padding: 0px;
    margin-right: 10px;
    input {
      padding: 5px 5px 5px 10px;
    }
  }
  button {
    max-width: unset;
    min-width: unset;
    img {
      margin: 0;
      padding: 0;
    }
  }
}