.headerRoot {
  width: 100%;
  top: 0px;
  display: block;
  z-index: 999;
  position: fixed;
  background-color: #eff3ff;
  box-shadow: 0px 3px 5px 2px #ededed;
  transition: all 300ms ease;
}

.headerScroll {
  background-color: #fff !important;
}

.listItem {
  display: flex;
  padding-right: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.navLogoBox {
  padding: 20px 0;

  img {
    width: 178px;
  }
}

.navMenuBox {
  margin-left: 8px;
  margin-right: 8px;
}

.navMenu {
  display: flex;
  padding: 0;
  margin: 0;

  li {
    padding: 30px 0;
    list-style: none;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.navlink {
  font-weight: 600;
  position: relative;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  opacity: 1;
  color: #222;
  padding: 0;
  white-space: nowrap;

  &:hover {
    color: var(--cimigo-green);
  }
}

.navlinkActive {
  color: var(--cimigo-green);
}

.headerButton:first-child {
  margin-right: 8px;
}

.headerButton {
  color: white;
  text-transform: none;
  line-height: 26px;
  font-weight: 600 !important;
  padding: 8px 35px;
  font-size: 16px;
  box-shadow: 0px 11px 21.25px 3.75px rgb(194 191 255 / 65%);
  z-index: 1;
  transition: all 500ms ease;
}

.languages {
  margin-right: 25px;
}

// new
.root {
  width: 100%;
  margin: 0 auto;
  top: -1px;
  background: #fff;
  z-index: 99;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.container.container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1240px !important;
  padding-left: 64px;
  padding-right: 64px;

  @media only screen and (max-width: 1024px) {
    max-width: 1024px !important;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media only screen and (max-width: 767px) {
    max-width: 550px !important;
    padding-left: 10px;
    padding-right: 19px;
    height: 58px;
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    width: 100%;
    max-width: 200px;
    min-width: 119px;
    @media only screen and (max-width: 1024px) {
      max-width: 150px;
      // min-width: 60px;
    }

    @media only screen and (max-width: 767px) {
      max-width: 85px;
      // min-width: 50px;
    }
  }
}

.navBar {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.listMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none inside;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.routerItem {
  padding: 10px 20px;
  outline: none;
  font-weight: 600;
  color: #1f61a9;
  transition: all 0.2s ease-out;
  outline: none;
  white-space: nowrap;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  cursor: pointer;
  text-decoration: unset;

  &:hover {
    color: #a6cc17;
    outline: none;
    background: transparent;
  }

  @media only screen and (max-width: 1024px) {
    padding: 5px 7px !important;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.btnLogin {
  padding-right: 10px;
  white-space: nowrap;

  @media only screen and (max-width: 767px) {
    button {
      border: unset;
      background-image: url("../../assets/img/icon/ic-profile-blue.svg");
      background-repeat: no-repeat;
      background-position: left 11px;
      padding: 6px 0px 0px 18px;

      &:not(.disable):hover {
        background: none;
        background-image: url("../../assets/img/icon/ic-profile-blue.svg");
        background-repeat: no-repeat;
        background-position: left 11px;
      }

    }
  }
}

.btnLogout {
  @media only screen and (max-width: 767px) {
    button {
      border: unset;
      background: transparent;
      color: #7c9911;
      padding: 6px 0px 0px 0px;

      &:not(.disable):hover {
        background: none;
      }

    }
  }
}

.searchWrapper {
  position: relative;
  margin-left: 20px;
  background: transparent;

  @media only screen and (max-width: 767px) {
    margin-left: 10px !important;
  }
}

.btnSearch {
  display: flex;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  img {
    min-width: 16px;
    width: 30px;

    @media only screen and (max-width: 767px) {
      width: 14px !important;
      height: 14px !important;
      min-width: 14px !important;
    }
  }
}

.rootMenu {
  width: 227px;
  max-width: 227px;
  top: 45px !important;
}

.menuAction {
  display: none;
  margin: 0 10px;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 767px) {
    display: flex;
  }

  button {
    padding: 0;
  }
}

.menuItem {
  display: flex;
  padding: 0;
  border-bottom: 0.5px solid #fff;

  a {
    font-size: 1.1666rem;
    color: #fff;
    padding: 1rem 2rem;
    line-height: 1.25;
    font-weight: 500;
    width: 100%;
  }
}

.menuItemLast {
  border: none;
}

.itemBtn {
  background-color: rgba(28, 28, 28, 0.05);
  margin-left: 15px;
  width: 40px;
  height: 40px;
}

.menuProfile {
  width: 140px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.menuLang {
  ul {
    padding: 0;

    li {
      padding: 12px 15px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      letter-spacing: 0.015em;
      color: rgba(28, 28, 28, 0.9);

      &.active,
      &:hover {
        background: #E8F1FB;
      }
    }
  }
}

.itemAciton {
  img {
    padding-right: 10px;
    width: 24px;
    height: 24px;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    color: rgba(28, 28, 28, 0.65);
  }
}

.linkProject {
  display: flex;
  align-items: center;
  left: 250px;
  flex-grow: 1;
  text-overflow: ellipsis; 
  overflow: hidden;
  margin-left: 20px;
  margin-right: 5px;
  @media only screen and (max-width: 1024px) {
    left: 200px;
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.linkTextHome {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;

  img {
    margin-right: 5px;
  }

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #1f61a9;
    margin-top: 5px;
  }
}

.linkTexDetail {
  display: flex;
  align-items: center;
  margin-top: 5px;

  img {
    margin-right: 15px;
  }
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #53660c;
    white-space: nowrap;
  }
}

.btnChangeLang {
  border: none;
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(28, 28, 28, 0.9);
}

.btnChangeLang2 {
  display: none;
  border: none;
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(28, 28, 28, 0.9);
  text-transform: uppercase !important;

  span {
    margin-left: 0px !important;
  }
}

.itemsOfToggle {
  font-size: 16px;
  font-weight: 500;
  margin-left: 7px;
  white-space: inherit;
  padding-right: 10px;
  
  &:active, &:hover {
    border: none;
    border-left: 4px solid rgba(166, 204, 23, 1);
    display: flex;
    align-items: center;
    padding: 7px 5px 7px 13px;
    margin: 10px 5px 10px 24px;

    &:first-child {
      margin-top: 15px;
    }

    a {
      font-weight: 600;
      margin: 0px;
    }
  }
 

  a {
    color: rgba(28, 28, 28, 0.9);
    text-decoration: none;
    margin-bottom: 5px;
  }

  :first-child {
    margin-top: 7px;
  }
}

.buttonOfToggle {
  display: flex;
  align-items: center;
  color: var(--cimigo-blue);
  margin-left: 24px;
  margin-bottom: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icButtonOfToggle {
  width: 20px;
  height: 18px;
  margin-right: 17px;
}

.lineOfToggle {
  margin: 3px 24px 17px 24px;
  border-bottom: 1px solid rgba(28, 28, 28, 0.2);
}

.itKey {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .itKey {
    display: block;
    text-transform: uppercase;
  }

  .btnChangeLang2 {
    display: flex;
    font-weight: 500 !important;
    margin-right: -15px;
  }

  .itName,
  .btnChangeLang {
    display: none;
  }
  .btnLogin{
    margin-left: 20px;
    white-space: nowrap;
  }

}
@media only screen and (min-width: 1024px) { 
  .item > .routerItem{
    padding: 5px 20px;
  }
}
@media only screen and (max-width: 992px) {
  .listItem{
    padding-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .itemBtn:first-child{
    .icHelp{
      display: none;
    }
    display: none;
  }
  .btnLogin, .btnLogout,.btnChangeLang2, .itKey{
    display: none;
  }
  .itName,
  .btnChangeLang {
    display: flex;
    margin-right: 0;
  }
  .container.container{
    display: flex;
  }
  .navBar{
    margin-left: auto;
  }
 .imgContainer img{
   margin-left: 13px;
   min-width: 119px;
 }
}
@media only screen and (max-width: 480px) {
  .btnChangeLang2, .itKey{
    display: flex;
  }
  .btnChangeLang, .itName{
    display:none;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
