.root {

}
.rootContentShowPayment{
  padding: 0px !important;
}
.rootContent{

}
.content {
  max-width: 616px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  padding: 8px 97px !important;
}
