.alert{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--white);
    padding: 16px;
    // border-left: 4px solid var(--cimigo-green-dark);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 1%), 0 6px 10px 0 rgb(0 0 0 / 10%);
    .left{
        display: flex;
    }
    .right{
        display: flex;
        align-items: center;
        .btnClose{
            button{
                color: var(--gray-40);
            }
            
        }
    }
    .content{
        padding-left: 18px;
    }
    .iconSuccess{
        display: flex;
        align-items: center;
        color: var(--cimigo-green-dark);
    }
    .iconWarning{
        display: flex;
        align-items: center;
        color: var(--warning-dark);
    }
    .iconDefault{
        display: flex;
        align-items: center;
        color: var(--cimigo-blue);
    }
    
}