.root {
  max-width: 1000px;
  margin: auto;
  @media only screen and (max-width: 767px) {
    padding: 22px 19px;
  }
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #1f61a9;
  margin-bottom: 13px;
  @media only screen and (max-width: 767px) {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
  }
}
.subTitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #1c1c1c;
  margin-bottom: 15px;
  @media only screen and (max-width: 767px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
  }
}
.tableProvinces {
  border-radius: 4px;
  border: 1px solid #dddddd;
  border-collapse: unset !important;
  margin-top: 30px;
  margin-bottom: 40px;
}
.tableHead {
  th {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #17497f;
    padding: 16px 30px;
    @media only screen and (max-width: 767px) {
      padding: 8px 15px;
      font-size: 14px;
      vertical-align: baseline;
    }
  }
  th:last-child {
    width: 300px;
    @media only screen and (max-width: 1024px) {
      width: unset;
    }
    @media only screen and (max-width: 767px) {
      width: unset;
    }
  }
}
.cellMobile {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.tableBody {
  td {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.015em;
    color: #1c1c1c;
    padding: 16px 30px;
    @media only screen and (max-width: 767px) {
      padding: 8px 15px;
      font-size: 14px;
    }
  }
}
.rowTotal {
  background: #e8f1fb;
  border-radius: 0px 0px 4px 4px;
  td {
    font-weight: 700 !important;
    @media only screen and (max-width: 767px) {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.04em;
      color: #1c1c1c;
    }
  }
}

.noSetup {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 150px 0px;
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
    color: rgba(28, 28, 28, 0.4);
    padding-top: 30px;
    padding-bottom: 18px;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
      font-weight: 600;
      padding-top: 16px;
      padding-bottom: 5px;
      line-height: 20px;
    }
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.015em;
    color: rgba(28, 28, 28, 0.65);
    padding-bottom: 32px;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
      padding-bottom: 14px;
    }
  }
  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.015em;
    color: #1f61a9;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 767px) {
    padding: 44px 18px;
  }
}
