.arrow1 {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--gray-20);
}

.arrow1::after, .arrow1::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  right: -3px;
  background-color: var(--gray-20);
}

.arrow1::after {
  top: - 4px;
  transform: rotate(45deg);
}

.arrow1::before {
  top: 3.5px;
  transform: rotate(-45deg);
}

.arrow2 {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: var(--gray-20);
}
.arrow2::after, .arrow2::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  left: -3px;
  background-color: var(--gray-20);
}
.arrow2::after {
  top: -3.5px;
  transform: rotate(135deg);
}

.arrow2::before {
  top:4px;
  transform: rotate(-135deg);
}