
@media only screen and (max-width: 767px) {
    .pageTitle{
        display: block !important; 
        [class ~= MuiBox-root] {
            display: none;
        }
    } 
  }
.mobileAction {
    position: relative;
}
.mobileViewOutline {
        position: absolute;
        top: -35px;
        right: 8px;
        display: flex;
        align-items: center;
        background-color: var(--cimigo-blue-light-4);
        padding: 4px 16px;
        border-radius: 2px 0px 0px 0px;
        cursor: pointer;
        svg {
            color: var(--cimigo-blue);
            margin-left: 6px;
        }
}
.closeOutline {
    top: -30px;
}
@media only screen and (max-width: 1024px) {
    .rightContent {
        display: block;
        position: absolute;
        left: 0px;
        bottom: 112px;
        width: 100%;
        transition: bottom 0.5s ease-out 0s;
        .rightPanelAction {
            display: none;
        }
    }
    .showOutline {
        bottom: -112px;
        transition: bottom 0.5s ease-out 0s;
    }
  }


