.paper {
  width: 950px;
  max-width: 950px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    overflow: hidden;
  }
}
.form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rootList {
  padding: 16px 0px 24px 0;
  @media only screen and (max-width: 767px) {
    padding-bottom: 16px;
  }
}
.listFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
}
.listTextLeft {
  @media only screen and (max-width: 767px) {
    max-width: unset !important;
    margin-bottom: 15px;
  }
}
.listTextRight {
  @media only screen and (max-width: 767px) {
    max-width: unset !important;
  }
}
.listTextLeft {
  p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--eerie-black);
    @media only screen and (max-width: 767px) {
      color: var(--gray-80);
    }
  }
}
.listTextRight {
  p {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--eerie-black);
    @media only screen and (max-width: 767px) {
      color: var(--gray-80);
    }
  }
}

.inputPoint {
  min-height: 42px;
  border-radius: 5px;
  padding-left: 16px;
  input {
    padding: 0px;
  }
}

.iconLanguage {
  color: var(--eerie-black-65);
  background-color: rgba(221, 221, 221, 1);
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 14.6px;
  text-transform: uppercase;
}
.listNumber {
  margin: 24px 24px 0 24px;
  max-width: 240px;
  @media only screen and (max-width: 767px) {
    display: none;
  }
  div {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #dddddd;
    span {
      width: 24px;
      height: 24px;
      max-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 12px;
      color: rgba(28, 28, 28, 0.65);
    }
    span:not(:last-child) {
      border-right: 1px solid #dddddd;
    }
  }
}
.listNumberMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    margin: 24px auto 0px auto;
    max-width: 350px;
  }
}
.textMobile {
  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    p {
      color: #000000;
      margin-bottom: 12px;
    }
  }
}
.numberMobile {
  @media only screen and (max-width: 767px) {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid #dddddd;
    max-width: 240px;
    margin: auto;
    span {
      width: 24px;
      height: 24px;
      max-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 12px;
      color: rgba(28, 28, 28, 0.65);
    }
    span:not(:last-child) {
      border-right: 1px solid #dddddd;
    }
  }
}
.rootListItem {
  &:nth-child(even) {
    background: #eef0f2;
  }
}
.rootListItem > div {
  &:first-child {
    display: block;
    @media only screen and (max-width: 767px) {
      padding: 0px;
    }
  }
}
.tips {
  display: flex;
  align-items: flex-start;
  padding-right: 40px;
  img {
    cursor: pointer;
  }
}

.border {
  background: rgba(28, 28, 28, 0.4);
  width: 1px;
  height: 135px;
  margin: auto 12px;
}

.collapse > p {
  margin-top: 3px;
  margin-bottom: 8px;
  cursor: pointer;
}

.btn {
  button:not(:first-child) {
    margin-left: 16px;
  }
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    button {
      width: 100%;
      &:not(:first-child) {
        margin-left: 0;
      }
      &:first-child {
        margin-top: 16px;
      }
    }
  }
}
