.selectCategory {
  z-index: 2;
  width: 320px;
  height: 40px;
}

.selectPremiseWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.selectPremise {
  padding-top: 16px;
}

.helpIcon {
  height: 100%;
  display: flex;
}
.tooltip {
  padding-top: 16px;
}
.tooltipPopper {
  [class~=MuiTooltip-tooltip] {
    max-width: 401px;
    margin-top: 16px;
  }
}