.root {
  background-color: #fafaff;
  @media only screen and (max-width: 767px) {
    background-color: #fff;
  }
}
.body {
  background-color: #fff;
  height: auto;
  max-width: 470px;
  margin: 70px auto 180px;
  display: grid;
  padding: 48px;
  @media only screen and (max-width: 767px) {
    margin: 40px auto 40px;
    padding: 24px;
  }
}
.textLogin {
  color: #1f61a9;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}
.errorText {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  display: block;
  text-align: center;
  color: #af1c10;
  padding: 4px 0px;
  background: rgba(175, 28, 16, 0.08);
  border-radius: 2px;
  margin-bottom: 24px;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.linkText {
  font-size: 12px;
  color: #1f61a9;
  font-style: italic;
  text-align: center;
}
.labelCheckbox {
  font-size: 12px !important;
  color: rgba(28, 28, 28, 0.65);
  font-weight: 300;
}
.separator {
  padding: 22px 0px;
  display: flex;
  align-items: center;
  &:before {
    content: " ";
    flex: 1;
    border-bottom: 1px solid rgba(28, 28, 28, 0.2);
  }
  &:after {
    content: " ";
    flex: 1;
    border-bottom: 1px solid rgba(28, 28, 28, 0.2);
  }
  span {
    font-weight: 500;
    color: rgba(28, 28, 28, 0.65);
    margin: 0px 21px;
    margin-top: -2px;
    font-size: 14px;
  }
}
.icGoogle {
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 50px;
  text-transform: none;
  width: max-content;
  font-size: 14px;
  color: #1c1c1c;
  padding: 3px 13px;
  margin: 0px auto 25px;
}
