.root {
  padding: 0px;
}
.container {
  margin: auto;
  display: flex;
  padding: 50px 64px;
  max-width: 1240px;
  @media only screen and (max-width: 1024px) {
    padding: 50px 24px;
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
// ---------------------Left------------------
.left {
  min-height: 200px;
  width: 30%;
  padding-right: 18px;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #1f61a9;
  margin: 0;
  padding-top: 18px;
}
.list {
  background-color: rgba(28, 28, 28, 0.05);
  border-radius: 4px;
  margin-top: 10px;
}
.subTitle {
  position: unset;
  color: rgba(28, 28, 28, 0.65);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  background-color: rgba(28, 28, 28, 0.05);
  border-radius: 4px 4px 0px 0px;
}
.subTitle1 {
  position: unset;
  background-color: rgba(28, 28, 28, 0.65);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fafaff;
  padding: 0px 32px;
}
.rootList:hover:not(.folderListItemSelected) .btnAction {
  display: block !important;
}
.folderListItemSelected {
  .folderListItem:hover,
  .folderListItem {
    color: #fafaff;
    background-color: rgba(28, 28, 28, 0.65) !important;
  }
  .btnAction {
    display: none;
  }
}
.btnAction {
  display: none;
}
.folderListItem {
  &:hover {
    color: #1c1c1c;
    background-color: rgba(28, 28, 28, 0.05) !important;
  }
}
.iconAction {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  &:hover {
    background-color: #ffffff !important;
  }
}
.btnFolder {
  margin: 50px auto 20px;
  display: flex;
  font-weight: 500;
  font-size: 12px;
}
.menuAction {
  width: 120px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.itemAciton {
  img {
    padding-right: 10px;
  }
  p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    color: rgba(28, 28, 28, 0.65);
  }
}

// --------------------Right--------------------

.right {
  width: 80%;
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 18px;
}
.table {
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 4px;
}
.tableHead {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 90px;
  tr {
    th {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #1f61a9;
      vertical-align: top;
      padding-top: 25px;
    }
  }
}
.tableBody {
  cursor: pointer;
  td {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.015em;
    color: #1c1c1c;
  }
  &:nth-child(even) {
    background: rgba(28, 28, 28, 0.05);
  }
}
.rootSelect {
  min-width: 135px;
  margin-right: 15px;
  @media only screen and (max-width: 767px) {
    margin-right: 0px;
  }
}
.rootSelect > div > div {
  padding: 4.5px 14px;
}
.rootSelect {
  fieldset {
    border-color: #1f61a9 !important;
  }
}
.icSelect {
  right: 15px;
}
.selectType {
  font-weight: 500;
  font-size: 12px;
  color: #1f61a9;
}
// --------------------Mobile--------------------

.containerMobile {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    padding: 24px 19px;
  }
}
.inputMobile {
  border-radius: 40px;
  margin: 24px 0px;
}
.headerMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #1f61a9;
  }
}
.listProject {
  display: block;
  margin: 24px auto;
}
.listItemProject {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.itemNameMobile {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #1c1c1c;
  margin-bottom: 4px;
}
.itemDateMobile {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: rgba(28, 28, 28, 0.65);
}
.itemStatusMobile {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  span {
    width: 8px;
    height: 8px;
  }
}
