.paper {
  width: 550px;
  max-width: 550px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
    overflow: hidden;
  }
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  color: #08182A;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17497F;
  padding: 12px 24px;
  p {
    font-weight: 600;
    font-size: 22px;
    color: #FAFAFF;
  }
  button {
    background-color: #FFFFFF !important;
  }
}
.body {
  min-height: 300px;
  padding: 24px;
  @media only screen and (max-width: 767px) {
    overflow: auto;
    max-height: 400px;
    padding: 24px 24px 0px 24px;
  }
  img {
    width: 100%;
  }
}
.btn {
  margin: 24px;
}